
body{
    background-color:#160BE2;
    font-family: 'Space Mono', monospace;
    border-style: solid;
    border-color: #ffe200;
    border-width: 15px;
    margin: 0px;
    height: 97vh;
    overflow: hidden;
   
}

.container{
    max-width :400px;
    margin: 20px auto 0px auto;
    text-align: center;
}

.score{
    padding-top: 20px;
    font-size: 25px;
    color: #ffe200;
}

.emoji{
    font-size: 30px;
}

.mainemoji{
    font-size: 50px;
}

.Title{
    font-size: 30px;
    margin-bottom: 20px;
    color: white;;
}

.explanation{
    color: white;
    font-size: 20px;
    padding: 0 0.9vw 0 0.9vw;
    max-width: 370px;
    margin: auto;
    margin-bottom: 40px;
}

.recognitionText{
    margin-top: 30px;
}



.loadingText{
    font-size: 25px;
    line-height: 1.7;
    margin-top: 50px;
    color: #ffe200;
    padding: 0.8vw 1.8vw 0.8vw 1.8vw;
}



.finaltext{
    font-size: 25px;
    line-height: 1.7;
    margin-top: 50px;
    color: white;
    padding: 0.8vw 1.8vw 0.8vw 1.8vw;
}

#Button{
	background-color:#ffe200;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color: #160BE2;
	font-size:16px;
	padding:10px 15px;
	text-decoration:none;
}

#Button:hover {
	background-color: rgb(214, 200, 0) ;
}
#Button:active {
    position:relative;
    background-color: darkblue;
	top:3px;
}

.blink {
    animation:fade 1500ms infinite;
    -webkit-animation:fade 1500ms infinite;
}

@keyframes fade {
    from { color : rgb(0, 4, 255,1) ; }
    50% { color: rgba(0, 4, 255,0.2)  ; }
    to { color: rgba(0, 4, 255,1); }
}                                                                                                                                                                                                                                  

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.7; }
    to { opacity: 1.0; }
}
