
body{
    background-color: lightgoldenrodyellow;
    font-family: 'Space Mono', monospace;
}

.container{
    width : 70%;
    margin: 50px auto 0px auto;
    text-align: center;
}

.score{
    font-size: 1.2em;
    font-style: italic;
    color: #160BE2;
}

.Title{
    font-size: calc(1em + 1vw);
    margin-bottom: 30px;
}

.explanation{
    font-size: calc(0.8em + 0.5vw);
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 0 0.8vw 0 0.8vw;
}

.midwayText{
    color:gray;
    font-size: 1.2em;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    height: 25vh;
    border-radius: 18px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
}

.recognitionText{
    font-size: 1.2em;
    line-height: 1.7;
    margin-top: 50px;
    color: black;
    padding: 0.8vw 1.8vw 0.8vw 1.8vw;
}

#Button{
	background-color:#160BE2;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-size:20px;
	padding:10px 25px;
	text-decoration:none;
}

#Button:hover {
	background-color: rgb(69, 60, 233) ;
}
#Button:active {
    position:relative;
    background-color: darkblue;
	top:3px;
}

.blink {
    animation:fade 1500ms infinite;
    -webkit-animation:fade 1500ms infinite;
}

@keyframes fade {
    from { color : rgba(255, 255, 255,1) ; }
    50% { color: rgba(255, 255, 255,0.2)  ; }
    to { color: rgba(255, 255, 255,1); }
}                                                                                                                                                                                                                                  

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.7; }
    to { opacity: 1.0; }
}
